@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

.main {
  position: relative;
  width: 100%;
  aspect-ratio: 9472 / 6912;
  overflow: hidden;
  max-height: 400px;
  font-family: "Jost";
}
.main img {
  object-fit: cover;
  filter: grayscale(10%) blur(1px);
}

.main .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-family: "Jost", Times, serif; /* ← la police s’applique enfin */
  font-weight: 600;
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  white-space: normal;
}
.subtitle {
  font-family: "Jost";
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.dmdrdv {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  background-color: #f9f5f2;
}
.dmdrdv a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}
